.container{
   padding-bottom: 50px;
}

.main-title{
    color: #0072c6;
    font-family: "segoeui";
    padding-bottom: 18px;
}

.main-desc{
    color:#8a8a8a;
    padding-bottom: 18px;
    margin-left: 50px;
    margin-right: 50px;
}

.sections{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
    gap: 1.5vw 6vh;
    padding: 0 7% 0 7%;
    
    
}

.card-container{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr;
    color: white;
    padding: 13px;
    
}

.left{
    align-items: center;
    padding-right: 8px;
}

.icon{
    height: auto;
    width: 55px;
}
.right{
    text-align: left;
    padding-right: 5px;
}
.title{
    margin: 0;
    font-family: 'segoeuil';
    font-size: 1.2em;
    margin-bottom: 7px;
}

.description{
    margin: 0;
    font-family: 'segoeuil';
    font-size: 0.9em;
}



@media only screen and (max-width: 1000px){
    .card-container:nth-child(n+7){
        display: none;
    }
}