span{
    color: rgb(255, 60, 0);
}

.main-desc2{
    color:#8a8a8a;
    padding-bottom: 18px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
    margin-bottom: 60px;
}

@media screen and (max-width: 1000px){
    span{
        color: #8a8a8a;
    }
}