@font-face {
  font-family: 'segoeui';
  src: local('segoeui'), url(./fonts/segoeui.ttf) format('truetype');
}
@font-face {
  font-family: 'segoeuib';
  src: local('segoeuib'), url(./fonts/segoeuib.ttf) format('truetype');
}
@font-face {
  font-family: 'segoeuil';
  src: local('segoeuil'), url(./fonts/segoeuil.ttf) format('truetype');
}

.App {
  text-align: center;
  width: 100%;
}
